<div class="w-full p-2 flex h-20 sticky top-0 bg-white font-mono font-bold">
    <div class="grow relative border-black border-2">
        <a
            class="w-full py-5 text-center absolute top-2 left-2 cursor-pointer z-10"
            routerLink="/"
            routerLinkActive="bg-black text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
        >
    </div>
    <div class="grow relative border-black border-y-2">
        <a
            class="w-full py-5 text-center absolute top-2 left-2 cursor-pointer z-10"
            routerLink="/routine-report"
            routerLinkActive="bg-black text-white"
            >Routine-report</a
        >
    </div>
    <div class="grow relative border-black border-2">
        <a
            class="w-full py-5 text-center absolute top-2 left-2 cursor-pointer z-10"
            routerLink="/expence-report"
            routerLinkActive="bg-black text-white"
            >Expence-report</a
        >
    </div>
</div>
